@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

/*Base css*/
.alignleft {
	float: left;
	margin-right: 15px;
}
.alignright {
	float: right;
	margin-right: 15px;
}
.aligncenter {
	display: block;
	margin: 0 auto 15px;
}
a:focus {outline: 0 solid }
img {
	max-width: 100%;
	height: auto;
}


}
a:hover {text-decoration: none}

/*Remove Chrome Input Firld's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover,input:-webkit-autofill:focus {
	-webkit-box-shadow:0 0 0px 1000px white inset !important;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
p{
    color: dimgray;
}
img.header-logo {
    width: 100px;
}
.section-padding{
    padding-top: 50px;
}

.home-slider img{
    width: 100%;
}
.heighlight-text{
    position: relative;
}
.product-text{
    text-transform: uppercase;
    color: gray;
    font-weight: 900;
    position: absolute;
    left: -100px;
    bottom: 200px;
    opacity: .1;
    transform: rotate(-90deg);
}
.section-title h4{
    padding-bottom: 20px;
}
.section-title h4 a{
    color: goldenrod;
}
.section-title h4 a:hover{
    text-decoration: none;
}
.card.single-card-item {
    padding: 25px;
    border: none;
    box-shadow: 0px 0px 10px 5px #F6F6F6;
    max-height: 608px;
}



.section-title {
    text-align: center;
    margin-bottom: 42px;
}

.section-title h2 {
    position: relative;
    padding-bottom:15px;
}

.section-title h2:before {
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 6px;
    margin-left: -50px;
    width: 100px;
    border-radius: 5px;
    background-image: linear-gradient(45deg, #FFBE22, #FF9C35);
    content: "";
}
.featured-item img {
    box-shadow: 0px 0px 10px 5px #F6F6F6;
    padding: 20px;
}
.featured-item img:last-child{
    display: inline-block;
    margin-top: 25px;
}
footer p{
    text-align: center;
    font-size: 12px;
}
.carousel-indicators li {
    background: #CECECE;
    width: 20px;
    border-radius: 100%;
}

.carousel-indicators {
    margin-bottom: -30px;
}
.carousel-indicators .active {
    background: #FFCB1B;
}

